<% provide :title, t("your_cart") %>
<div class="container cart-form">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <%= t("shopping_cart") + " ( " %>
                  <div id="carts_size">
                    <% if params[:id] %>
                      <%= order_size %>
                    <% else %>
                      <%= carts_size %>
                    <% end %>
                  </div>
                  <%= " product )" %>
                </h5>
              </div>
              <div class="col-xs-3 carts col-xs-offset-3">
                <%= link_to t("continue"), root_path, class: "btn btn-success pull-right"%>
              </div>
            </div>
          </div>
        </div>
        <% if @order.line_items.size > 0 %>
          <div class="panel-body">
            <div id="carts_list">
              <%= render partial: "orders/product_cart", collection: @order.line_items %>
            </div>
            <div class="row">
              <div>
                <% if @order.id %>
                  <div class="col-xs-9">
                    <h4 class="text-right">
                      <%= t "payed" %>
                      <%= @order.updated_at %>
                    </h4>
                  </div>
                <% else %>
                  <div class="col-xs-3 col-xs-offset-9">
                    <button id="pay" type="submit" class="btn btn-sm btn-block btn-success">
                      <%= t "pay" %>
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <%= image_tag("no_product.png") %>
            </div>
          </div>
        <% end %>
        <div class="panel-heading">
          <div class="row">
            <div >
              <h4 class="text-center">
                <div>
                  <%= t "total_cost" %>
                  <div id="total_cost">
                    <%= total_cost %>
                  </div>
                  <%= t "money_icon" %>
                </div>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
